body {
    background-color: rgba(0, 0, 0, 0.7);
    font-family: 'Noto Sans';
}

h1 {
    text-align: center;
    background-color: rgba(0, 255, 0, 0.5);
    font-family: 'Source Code Pro';
}

p {
    text-align: center;
    color: white;
}

p.red {
    color: rgb(255, 0, 0);
}

a {
    color: skyblue;
}
