@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

:root {
    --bg0: #2e3440;
    --bg1: #3b4252C6;
    --fg0: #eceff4;

    --link0: #81a1c1;
    --link1: #81a1c180;

    --button-hover: #3b4252A6;

    --icon1: invert(65%);
    --icon2: sepia(14%);
    --icon3: saturate(734%);
    --icon4: hue-rotate(169deg);
    --icon5: brightness(93%);
    --icon6: contrast(94%);

    --icon-hover1: invert(89%);
    --icon-hover2: sepia(13%);
    --icon-hover3: saturate(366%);
    --icon-hover4: hue-rotate(197deg);
    --icon-hover5: brightness(107%);
    --icon-hover6: contrast(91%);
}


::selection{
    background-color: var(--link1);
}


body {
    background-color: var(--bg0);
    background-image: url("images/bg.png");
    color: var(--fg0);
    font-family: "Kosugi Maru";
    font-size: 1rem;
    margin: 0;
}

h1 {
    text-align: center;
}

h2, h3 {
    font-weight: bold;
}

h2 {
    margin-top: 0;
    margin-bottom: 1rem;
}

h3 {
    margin-bottom: 0.5rem;
}


p {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}


a {
    color: var(--link0);
    transition: all 0.2s ease-in-out;
}

a:hover {
    background-color: var(--link1);
    color: var(--fg);
}

a.nohover {
    color: transparent;
    transition: none;
}

a.nohover:hover {
    background-color: unset;
    color: unset;
}



/*
DIVIDERS
*/

div {
    width: 85%;

       padding-top: 40px;
      padding-left: 30px;
     padding-right: 30px;
    padding-bottom: 40px;

           margin: auto;
       margin-top: 20px;
    margin-bottom: 20px;
    
    background-color: var(--bg1);
}

div.center {
    text-align: center;
}



/*
MEDIA
*/
@media (max-width: 800px) {
    img {
        height: 24px;
    }
}

@media (min-width: 2000px) {
    body {
        font-size: 200%;
    }

    img {
        height: 90px;
    }

    button.collapsible {
        height: 154px;
        font-size: 40px;
    }

    #icon {
        height: 64px;
    }

    img.title {
        min-width: 128px;
        max-height: 128px;
    }

    img.icon {
        height: 128px;
    }
}
